<div class="container" layout-align="center center">
  <div class="col">
<p class="logo"><i class="fas fa-comments"></i></p>

<h3>Sign in to Sealcode Messenger</h3>

<form #loginForm="ngForm" class="loginForm">
  <label>Username</label>
  <p><input class="form-control" type="text" name="username" placeholder="Username" required
            [(ngModel)]="userData.login"></p>
  <label>Password</label>
  <p><input class="form-control" type="password" name="password" placeholder="Password" required
            [(ngModel)]="userData.password"></p>
  <p><button (click)="getData($event, loginForm.value)" class="btn btn-success">Log In</button></p>
  <a href="#">Sign Up</a>
</form>
  </div>
</div>