p{
  margin:0;
  padding:0;
}

.container{
  background-color:#ffffff;
  border: 1px solid #eeeeee;
  max-width:500px;
  margin: auto;
  border-radius: 10px;
  padding:10px;
  flex-direction: column;
  align-items: center;
}

.logo{
  text-align: center;
  font-size: 50px;
}

.btn{
  width:100%;
  margin:20px 0;
}

.ng-untouched.required {
  border:none !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
